################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestProject1/bin/Debug
/UnitTestProject1/obj/Debug
*.user
*.suo
/.vs/config
/packages/NUnit.3.2.1
/SportParser/bin/Debug
/SportParser/obj/Debug
/packages
/TelegramBot/obj/Debug
/TelegramBot/bin
/TelegramBot.Contracts/bin/Debug
/TelegramBot.Contracts/obj/Debug
/TelegramBot.Core/bin/Debug
/TelegramBot.Core/obj/Debug
/UnitTestProject1/bin
/Botanio.Api/bin/Debug
/Botanio.Api/obj/Debug
/Google.TimeZoneApi/bin/Debug
/Google.TimeZoneApi/obj/Debug
/TelegramBot.DataAccess/bin/Debug
/TelegramBot.DataAccess/obj/Debug
/TelegramBot.Database/bin/Debug
/TelegramBot.Database/obj/Debug
